p {
    font-family: 'Butcherman', cursive;
    color: black;
    text-align: center;
    padding-left: 0px;
    margin-top: 20px;
    margin-left: 0px;
}

a {
    font-family: 'Butcherman', cursive;
    color: black;
    text-align: center;
    padding-left: 20px;
}